body{
margin: 0;
text-align: center;
}

.top-container{
  margin:0;
  background-color:#b2beb5;
}
.middle-container{
background-color: #89c9b8;
color: #11999E;
}
.bottom-container{
background-color: #f4f6ff;
margin:0;
padding:0;
}
.images1{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.images2{
  width:25%;
  float:right;
}
.skill{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1;

}
.skill-row1{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.skill-row2{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.next{
  color: #092532;
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
}
h1{
    margin:200px auto 40px auto;
  display:inline-block;
  font-size: 5rem;
   font-family: 'Satisfy', cursive;
   color:#092532;
}

.top-cloud{
  position: absolute;
  top:40px;
  right:23%;

}
.bottom-cloud{
  position: absolute;
  top:470px;
  left:20%;
}
.mountain{
margin-top: 160px;
margin-bottom: 30px;
}
.praveenface{
  margin: 80px;
  border:solid;
  border-radius: 10px;
}
.contact-me{

}

.h3{
margin:0;
color: #11999E;
}
.footer-link{
  color:#11999E;
}
.h22{

}
